////////////////////
//Colors Variables
////////////////////
$--unnamed-color-002640: #002640;
$--unnamed-color-00416c: #00416C;
$--unnamed-color-1d71b8: #1D71B8;
$--unnamed-color-a5d6ff: #A5D6FF;
$--unnamed-color-d6ecff: #D6ECFF;
$--unnamed-color-35a9e1: #35A9E1;
$--unnamed-color-98dbfa: #98DBFA;
$--unnamed-color-c5ebfd: #C5EBFD;
$--unnamed-color-45b3ae: #45B3AE;
$--unnamed-color-9adedb: #9ADEDB;
$--unnamed-color-bdf2f0: #BDF2F0;
$--unnamed-color-6cd7ba: #6CD7BA;
$--unnamed-color-adefdd: #ADEFDD;
$--unnamed-color-cff8ee: #CFF8EE;
$--unnamed-color-d87501: #D87501;
$--unnamed-color-f7a400: #F7A400;
$--unnamed-color-434343: #434343;
$--unnamed-color-868686: #868686;
$--unnamed-color-efefef: #EFEFEF;
$--unnamed-color-ffffff: #FFFFFF;
$--unnamed-color-717274: #717274;
$--unnamed-color-343335: #343335;
$--unnamed-color-153157: #153157;
$--unnamed-color-e1972e: #E1972E;
////////////
//Shadow
////////////

////////////
//Margin
////////////


////////////
//Padding
////////////
////////////
//Font-Family
////////////
$--unnamed-font-family-open-sans: Open Sans;
$--unnamed-font-family-montserrat: Montserrat;
$--unnamed-font-family-merriweather-sans: Merriweather Sans;
////////////
//Font-Style
////////////
$--unnamed-font-style-normal: normal;
$--unnamed-font-style-italic: italic;
////////////
//Font-size
////////////
$--unnamed-font-size-10: 10px;
$--unnamed-font-size-12: 12px;
$--unnamed-font-size-14: 14px;
$--unnamed-font-size-20: 20px;
$--unnamed-font-size-24: 24px;
$--unnamed-font-size-28: 28px;
$--unnamed-font-size-40: 40px;
$--unnamed-font-size-50: 50px;
////////////
//Font-weight
////////////
$--unnamed-font-weight-800: 800px;
$--unnamed-font-weight-normal: normal;
$--unnamed-font-weight-bold: bold;
////////////
//Line-spacing
////////////
$--unnamed-character-spacing-0: 0px;
$--unnamed-line-spacing-12: 12px;
$--unnamed-line-spacing-14: 14px;
$--unnamed-line-spacing-18: 18px;
$--unnamed-line-spacing-20: 20px;
$--unnamed-line-spacing-28: 28px;
$--unnamed-line-spacing-30: 30px;
$--unnamed-line-spacing-32: 32px;
$--unnamed-line-spacing-46: 46px;
$--unnamed-line-spacing-60: 60px;
////////////
//Decoration
////////////
$--unnamed-decoration-underline: underline;









